{% include "header.html" %}

<div id="particles-js" class="particle"></div>
<div class="container profileimage">
    <div class='row'>
       <div class="col-sm-6">
            <img class="isaac_img" src="static/image/PREACHER__NAME-removebg-preview.png" alt="image of creator">
       </div>
        <div class="col-xl name" style="padding-right: 70px; font-family: 'Gentium Plus', serif">
            <h1> Hi I'm, ISAAC</h1>
            <h5> Fullstack Developer </h5>
            <h6> MERN STACK </h6>
        </div>
    </div>
</div>
<div class="container text-left center professional">
    <div id="work">
    <h3 class="prof"> Professional Summary. </h3>
   <p> Dedicated and results-driven Full Stack Developer with a strong foundation in the MERN stack, API development, and Python programming. Possessing a Master's degree and a proven track record of delivering high-quality software solutions, I excel in developing scalable web applications, crafting robust APIs, and conducting insightful data analysis.</p>
    </div>

<h3 class="portfo"> Portfolio <i class="fa-solid fa-briefcase"></i> </h3>

<div class="portfolio"> 

    <div class="online">
        <h6 id="port"> Online Store. </h6>
        <a href="https://alicelandlordstore.onrender.com/" target="_blank"><img class="web" src="/static/image/AliceLandLord.png"></img></a>
        <div class="description">
            <p class="space">Built an engaging online store utilizing modern technologies including Node.js, React, and Express for seamless functionality. 
                Integrated Passport for secure user authentication and MongoDB for efficient data management. 
                Developed custom APIs to enhance user experience and streamline interactions.
             </p>
        </div>
        <div class="skilled">
            <h6 class="skillnorm"> Skills </h6>
            <div class="set">
                 <i class="fa-brands fa-react" id="react"></i> <i class="fa-brands fa-js" id="js"></i> <i class="fa-brands fa-node" id="node"></i> <i class="fa-brands fa-python" id="python"></i>
            </div>  
        </div>
        <button class="checkout"> Explore Website </button>
    </div>
 
 
    <div class="Company">
        <h6 class="companyport" id="port"> Solar Company Website. </h6>

        <a href="https://solarcompany-kv57.onrender.com/" target="_blank"> <img class="web" src="/static/image/company.png"></img></a>
        <div class="description">
            <p>
                A dynamic website for a solar company using Node.js and React, ensuring a user-friendly browsing experience. 
                Leveraged Express for efficient server-side operations and MongoDB for robust data storage.
                Implemented custom APIs to showcase the company's portfolio and facilitate communication with potential clients.
             </p>
        </div>
        <div class="Skilled">
            <h6 class="skillnorm"> Skills </h6>
            <div class="set">
                <i class="fa-brands fa-react" id="react"></i> <i class="fa-brands fa-js" id="js"></i> <i class="fa-brands fa-node" id="node"></i> <i class="fa-brands fa-python" id="python"></i>
            </div>  
        </div>
        <button class="checkoutcompany"> Explore Website </button>
    </div>
 

    <div class="Church">
        <h6 class="churchport" id="port"> Church Management Website. </h6>
        <a href="https://winnersmando.onrender.com/" target="_blank"><img class="web" src="/static/image/front page.png"></img></a>
        <div class="description">
            <p>
                A church management Website enabling users to access messages. 
                Utilized Node.js and Express for backend development, ensuring robust functionality. 
                Integrated MongoDB for data storage and management. Leveraged Google Drive API to host audio files,
                providing users with easy access to messages while maintaining scalability and reliability.
             </p>
        </div>
        <div class="Skilled">
            <h6 class="skillnorm"> Skills </h6>
            <div class="set">
                <i class="fa-brands fa-react" id="react"></i> <i class="fa-brands fa-js" id="js"></i> <i class="fa-brands fa-node" id="node"></i> <i class="fa-brands fa-python" id="python"></i>
            </div>  
        </div>  
        <button class="checkoutchurch"> Explore Website </button>
    </div>
    
</div>
</div>
<div class="middle">
    <hr>
    <div class="skills">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="tech">Technical Expertise</h4>
              <p>Proficient in the MERN (MongoDB, Express.js, React.js, Node.js) stack, with extensive experience in building dynamic and interactive web applications.
                 Skilled in API development, leveraging technologies such as FastAPI, Django, and Flask to create efficient and secure RESTful APIs that power modern applications.
                 Experienced in Python programming and data analysis, adept at utilizing libraries such as NumPy, Pandas, and Matplotlib to derive valuable insights from complex datasets.
                 Familiar with cloud services and deployment strategies, including AWS, Heroku, and Docker, ensuring seamless deployment and scalability of web applications.
              </p>
            </div>
            <div class="col-sm-6 right">
                <h5 class="tech"> Languages and Frameworks </h5>
                <ul>
                    <li>
                        Node JS 
                    </li>
                    <li>
                        React JS 
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        MongoDB 
                    </li>
                    <li>
                        Express JS 
                    </li>
                    <li> Pandas </li>
                    <li> Flask</li>
                    <li> Django </li>
                    <li> PostgreSQL </li>
                                     
                </ul>
            </div>
        </div>
    </div>
    <hr>
    
    <div class="edu">
        <div class="Education">
            <h5> </h5>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h5 class="master"> Masters of Engineering </h5>
                <p> Power systems and Machines Engineering </p>
                <i> Nigerian Defence Academy, Nigeria. </i>
                <p> 2022 </p>
            </div>
            <div class="col-sm-6">
                <h5 class="bachelor"> Bachelors of Engineering </h5>
                <p> Electrical and Electronics Engineering </p>
                <i> Landmark University, Omu-Aran, Kwara State, Nigeria. </i>
                <p> 2017 </p>
            </div>
        </div>
        <div class="Education"> 
            <h5> </h5>
        </div>
        <div class="container tol">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="master"> Fullstack development (MERN Stack) </h5>
                <i> Udemy </i>
                <p> 2023 </p>
            </div>
            <div class="col-sm-6">
                <h5 class="master"> Python Programming Language </h5>
                <i> Udemy </i>
                <p> 2022 </p>
            </div>
            <div class="col-sm-6">
                <h5 class="master"> Digital Skills: Artificial Intelligence </h5>
                <i> Accenture </i>
                <p> 2021 </p>
            </div>
            <div class="col-sm-6">
                <h5 class="master"> Cisco Certified Network Associate </h5>
                <i> Cisco </i>
                <p> 2020 </p>
            </div>
            
            
        </div>
    </div>
</div>
<div class="end">
    <div class="container cta">
        <div class="text-center">
            <h4> Testimonals </h4>
            <!-- call for action button -->
        </div>
        <div>
            <div class="firsttest">

                <div class="firstimage">
                    <img id="divine" src="/static/image/Divine.png"></img>      
                    <div class="text">
                        <h6 class="names"> Mr. Divine Chukwu </h6>
                    </div> 
                    <P class="testimony"> I've had the pleasure of collaborating with Isaac on multiple projects involving Python, web development, and graphic design. His communication skills are excellent, and he consistently demonstrates commitment and excellence in his work. You're definitely in safe hands with him!</P>             
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                
                <div class="firstimage">
                    <img id="florence" src="/static/image/florence.jpeg"></img>
                    <div class="text2">
                        <h6 class="names"> Miss Florence </h6>
                    </div>
                    <P class="testimony"> I had the opportunity to work with Isaac on a project where he designed a full website aimed at determining personality traits. Thanks to his expertise and dedication, the project was not only completed successfully but also accepted with acclaim. </P>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="secondtest">
                <div class="secondimage">
                    <img id="tosin" src="/static/image/Tosin.png"></img>
                    <div class="text">
                        <h6 class="names"> Mr. Tosin Oladele </h6>
                    </div>
                    <p class="testimony">
                        We collaborated on numerous data analysis projects, and I can attest that Isaac consistently delivered results on time, meeting all set milestones. Additionally, his positive attitude and great smile made our work environment enjoyable and productive.
                    </p>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                

                <div class="secondimage">
                    <img id="korede" src="/static/image/korede.png"></img>
                    <div class="text2">
                        <h6 class="names"> Miss korede </h6>
                        <p class="testimony"> During a data analysis project, Isaac provided invaluable assistance and delivered exceptional results ahead of schedule. His professionalism and commitment to excellence were evident throughout the collaboration.</p>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    </div>

                </div>
                <p>

                </p>
            </div>
        </div>
        

    </div>
</div>
<!-- <a href="{{ url_for('contact') }}">
    <button type="button" id="bb" class="btn btn-primary btn-lg">contact me</button>
</a> -->
<script src="/static/javascript/index.js"></script>    
{% include "footer.html" %}
<script src="/static/javascript/particles.js-master/particles.min.js"></script>
<script src="/static/javascript/particles-config.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


</body>
